/* Стиль кнопок */
.button {
  cursor: pointer;
  padding: 1px;
  margin: 4px;
}


/* Стиль как у кнопки, но не кнопка*/
.button-pseudo {
  padding: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Кнопка-заполнитель, для симетрии */
.button-void {
  padding: 1px;
  margin: 4px;
}

.close-button{
   align-self:flex-start;
}
